* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat';
    font-size: 20px;
}

section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    background: rgb(37, 37, 37);
    flex-direction: column;
    padding: 50px;
}

section h1 {

    color: rgba(255, 255, 255, 0.322);
    text-align: center;
    width: 100%;
    font-size: 50px;
    margin-bottom: 70px;
}

section p {
    text-align: center;
    color: rgba(255, 255, 255, 0.322);
    width: 100%;
    margin-bottom: 40px;

}


.container {

    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    justify-content: center;
}

.texts p {
    color: black;
    text-align: right;
    background-color: white;
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;



}

.texts p.replay {

    text-align: left;
    background-color: aqua;
}

.user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

.user-details .input-box1 {
    margin-bottom: 15px;
    width: calc(100% / 2 - 40px);
}
.user-details .input-box2 {
    margin-bottom: 15px;
    margin-left: 340px;
    

}

button {

    padding: 12px 20px;
    background: aqua;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    width: 200px;
    
}